* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  width: 100%;
  height: 100%;
}

body {
  overflow: hidden; /* May change this to auto if the content is clipped */
  margin: 0;
  padding: 0;
  border: 0;
  width: 100%;
  height: 100%;
  background: #633cb2;
  background: -moz-linear-gradient(top,  #633cb2 0%, #aa99cc 100%);
  background: -webkit-linear-gradient(top,  #633cb2 0%,#aa99cc 100%);
  background: linear-gradient(to bottom,  #633cb2 0%,#aa99cc 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#633cb2', endColorstr='#aa99cc',GradientType=0 );
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-high-contrast-adjust: none;
}

#main-wrap {
  margin: 0;
  padding: 10px;
  border: 0;
  width: 450px;
  font-family: "Trebuchet MS";
  font-weight: normal;
  font-style: normal;
  font-size: 11px;
}

input[type=checkbox], input[type=radio] {
  box-sizing: border-box;
  padding: 0;
  *width: 13px;
  *height: 13px;
  margin: 3.5px 0 !important;
}

.title {
  color: #FFF;
  font-weight: normal;
  font-size: 1.4em;
}

.controller_name {
  font-weight: bold;
  font-size: 1.0em;
  color: #FFF;
  width: 12em;
}

.controller_value {
  color: #FFF;
  background: rgb(162,142,201); /* Fallback */
  background: rgba(255,255,255, 0.1);
  border: 1px solid rgb(167,153,194); /* Fallback */
  border: 1px solid rgba(160,160,160, 0.2);
  border-radius: 3px;
  font-weight: bold;
  font-size: 1.0em;
  text-indent: 0.5em;
  width: 7em;
  height: 1.5em;
  margin-top: 4px;
}

.controller_value::selection {
  color: #0f0f0f;
  background: #fff2a8;
}

.main_form {
  padding: 0.5em;
}

.note {
  clear: both;
  position: relative;
  color: #E6E6E6;
  padding-left: 1em;
  font-size: 1.0em;
}

table.struct_table {
  table-layout: fixed;
  border: none;
  padding: 0;
  margin: 0;
}

table.struct_table tr td {
  border: none;
  margin: 0;
}

table.struct_table tr {
  padding: 0;
}

table.struct_table td {
  padding: 0.5em 0em 0.5em 0em;
}

.spacing_tab {
  padding-left: 1em;
}

#test_note-text {
  font-size: 11px;
  position: absolute;
  left: 0;
  top: 0;
  margin: 0;
  padding: 0;
  border: none;
  visibility: hidden;
  height: auto;
  width: auto;
  /*white-space: nowrap;*/
}
