* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-size: 11px;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  overflow: hidden;
  width: 100%;
  height: 100%;
  min-width: 42em;
}

body {
  padding: 0.75em;
  /*background: #112e87;
  background: -moz-linear-gradient(top,  #112e87 0%, #4272d1 100%);
  background: -webkit-linear-gradient(top,  #112e87 0%,#4272d1 100%);
  background: linear-gradient(to bottom,  #112e87 0%,#4272d1 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#112e87', endColorstr='#4272d1',GradientType=0 );*/
  background: #05298c;
  background: -moz-linear-gradient(top,  #05298c 1%, #9ebee2 100%);
  background: -webkit-linear-gradient(top,  #05298c 1%,#9ebee2 100%);
  background: linear-gradient(to bottom,  #05298c 1%,#9ebee2 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#05298c', endColorstr='#9ebee2',GradientType=0 );
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-high-contrast-adjust: none;
}

figure {
  margin: 0;
}

form {
  margin: 0;
}

input, label {
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  outline: none;
  position: relative;
  display: inline;
  vertical-align: middle !important;
  margin: 0 auto;
  cursor: pointer;
  padding: 0;
  font-size: 100% !important;
}

input[type=checkbox], input[type=radio] {
  box-sizing: border-box;
  padding: 0;
  *width: 13px;
  *height: 13px;
  margin: 3.5px 0 !important;
}

input[type=checkbox] {
  box-shadow: 1px 1px 4px rgba(80, 80, 80, 0.15);
  -webkit-box-shadow: 1px 1px 4px rgba(80, 80, 80, 0.15);
  -moz-box-shadow: 1px 1px 4px rgba(80, 80, 80, 0.15);
}

input[type=checkbox]:focus {
  box-shadow: 0 0 8px rgba(0, 80, 255, 0.35);
  -webkit-box-shadow: 0 0 8px rgba(0, 80, 255, 0.35);
  -moz-box-shadow: 0 0 8px rgba(0, 80, 255, 0.35);
}

fieldset {
  position: relative;
  text-indent: 0 !important;
  text-align: left;
  margin: 0 !important;
  margin-bottom: 0.5em !important;
  padding: 0 1em 1em;
  border-color: rgba(0, 0, 0, 0.2);
  border-image: none;
  border-radius: 5px !important;
  border-style: solid;
  border-width: 1px;
}

fieldset legend {
  display: inline;
  padding: 0;
  margin: 0.25em 0;
  font-weight: bold;
  white-space: normal;
}

.left {
  float: left;
}

.right {
  float: right;
}

.clear {
  clear: both;
}

.center {
  margin: 0 auto;
  text-align: center;
}

.center2 {
  margin: 0 auto;
}

button {
  display: inline-block;
  *display: inline; /*IE 6/7*/
  outline: none;
  zoom: 1;
  line-height: normal;
  white-space: nowrap;
  vertical-align: middle;
  text-align: center;
  cursor: pointer;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding: 0;
  border: 0;
  font-size: 100%;
  *font-size: 90%; /*IE 6/7 - To reduce IE's oversized button text*/
  *overflow: visible; /*IE 6/7 - Because of IE's overly large left/right padding on buttons */
  padding: 0.5em 1.25em;
  background-color: rgb(28, 184, 65);
  color: #fff;
  border: none rgba(0, 0, 0, 0);  /*IE9 + everything else*/
  text-decoration: none;
  text-transform: none;
  border-radius: 3px;
  /* Transitions */
  -webkit-transition: 0.25s linear -webkit-box-shadow;
  -moz-transition: 0.25s linear -moz-box-shadow;
  -ms-transition: 0.25s linear box-shadow;
  -o-transition: 0.25s linear box-shadow;
  transition: 0.25s linear box-shadow;
}

button:hover {
  outline: 0;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#1a000000',GradientType=0);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(transparent), color-stop(40%, rgba(0,0,0, 0.05)), to(rgba(0,0,0, 0.10)));
  background-image: -webkit-linear-gradient(transparent, rgba(0,0,0, 0.05) 40%, rgba(0,0,0, 0.10));
  background-image: -moz-linear-gradient(top, rgba(0,0,0, 0.05) 0%, rgba(0,0,0, 0.10));
  background-image: -ms-linear-gradient(transparent, rgba(0,0,0, 0.05) 40%, rgba(0,0,0, 0.10));
  background-image: -o-linear-gradient(transparent, rgba(0,0,0, 0.05) 40%, rgba(0,0,0, 0.10));
  background-image: linear-gradient(transparent, rgba(0,0,0, 0.05) 40%, rgba(0,0,0, 0.10));
}

button:active {
  /*box-shadow: 0 0 0 2px rgba(0,0,0, 0.15) inset, 0 0 6px rgba(0,0,0, 0.20) inset;*/
  outline: 0;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#1a000000',GradientType=0);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(transparent), color-stop(40%, rgba(0,0,0, 0.05)), to(rgba(0,0,0, 0.30)));
  background-image: -webkit-linear-gradient(transparent, rgba(0,0,0, 0.05) 40%, rgba(0,0,0, 0.30));
  background-image: -moz-linear-gradient(top, rgba(0,0,0, 0.05) 0%, rgba(0,0,0, 0.30));
  background-image: -ms-linear-gradient(transparent, rgba(0,0,0, 0.05) 40%, rgba(0,0,0, 0.30));
  background-image: -o-linear-gradient(transparent, rgba(0,0,0, 0.05) 40%, rgba(0,0,0, 0.30));
  background-image: linear-gradient(transparent, rgba(0,0,0, 0.05) 40%, rgba(0,0,0, 0.30));
}

table {
  table-layout: fixed;
}

.custom-text {
  background-color: #FEFEFE;
  color: #0A0A0A;
  font-size: 11px !important;
  cursor: auto;
  padding: 0.25em 0em;
  text-indent: 0.5em;
  outline: none;
  transition: all 0.25s ease-in-out;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  vertical-align: top;
  border: 1px solid rgba(80, 80, 80, 0.30) !important;
  box-shadow: 1px 1px 4px rgba(80, 80, 80, 0.15);
  -webkit-box-shadow: 1px 1px 4px rgba(80, 80, 80, 0.15);
  -moz-box-shadow: 1px 1px 4px rgba(80, 80, 80, 0.15);
}

.custom-text:focus {
  border: 1px solid rgba(0, 80, 255, 0.50) !important;
  box-shadow: 0 0 12px rgba(0, 100, 255, 0.25);
  -webkit-box-shadow: 0 0 12px rgba(0, 100, 255, 0.25);
  -moz-box-shadow: 0 0 12px rgba(0, 100, 255, 0.25);
}

.text-input {
  width: 100%;
  font-size: 10px !important;
}

.fixnum-input {
  width: 100%;
  font-size: 10px !important;
}

.numeric-input {
  width: 100%;
  font-size: 10px !important;
}

.controller-input {
  width: 100%;
  font-size: 11px !important;
}

.command-input {
  background-color: #2E2E2E;
  color: #CFCFCF;
  width: 100%;
  font-size: 11px !important;
}

.labeled-text {
  border: none;
  background: none;
  font-size: 11px !important;
  color: #FA8000;
  cursor: auto;
  outline: none;
  width: 6em;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-high-contrast-adjust: none;
}

.main-wrap {
  /* overflow to handle inner floating block */
  overflow: hidden;
}

.credit {
  clear: both;
  text-align: right;
  padding-right: 1em;
  position: relative;
  color: gray;
  font-size: 9px !important;
}

#editor {
  position: relative !important;
  border: 1px solid lightgray;
  padding: none;
  margin: 0px auto 4px auto;
  height: auto;
}

#status-bar {
  margin: 0 1em;
  position: relative;
  color: gray;
}

.ace_status-indicator {
  position: absolute;
  right: 0;
}

.chosen-container .chosen-results {
  max-height: 12em !important;
}

.vertical_spacing {
  clear: both;
  height: 0.5em;
}

.vertical_spacing2 {
  clear: both;
  height: 0.25em;
}

.horizontal_spacing {
  width: 0.5em;
}

.sound-list {
  background-color: #2E2E2E;
  color: #CFCFCF;
  border-radius: 3px;
  border: none;
  margin: auto 0 0.1em 0;
  padding: 0.25em;
  width: 100%;
}

.description {
  font-size: 11px !important;
  color: #2F2F2F;
  font-weight: normal;
}

.description em1 {
  color: #000DFF;
  font-weight: normal;
}

.description em2 {
  color: #00CF00;
  font-weight: normal;
}

.description em3 {
  color: #F02B2B;
  font-weight: normal;
}

.description em4 {
  color: #2F2F2F;
  font-weight: normal;
}

.description em5 {
  color: #606060;
  font-weight: bold;
}

.description em6 {
  color: #FFB01F;
  font-weight: normal;
}

.description em7 {
  color: #3823C2;
  font-weight: bold;
}

.description em8 {
  color: #FF0000;
  font-weight: normal;
}

.description tt {
  color: #170E80;
}

.title {
  color: #7F7F7F;
  font-weight: normal;
  font-size: 16px !important;
}

.heading {
  color: #0AAA0A;
  font-weight: bold;
}

table.opts_table {
  border: none;
  padding: 0em 0em 0.5em 0em;
}

table.opts_table tr td {
  border: none;
  vertical-align: middle;
}

table.opts_table tr {
  padding: 0em;
  margin: 0em;
}

table.opts_table td {
  padding: 0em 0.1em;
}

table.struct_table {
  width: 100%;
  border: none;
  padding: 0em;
  margin: 0em;
}

table.struct_table tr td {
  border: none;
  padding: 0em;
  margin: 0em;
  vertical-align: top;
}

table.struct_table input[type=checkbox] {
  float: right;
}

.spacing_tab {
  padding-left: 1em;
}

label.joint-label {
  padding: 0.15em;
  color: #0036C9;
  background-color: none;
  font-size: 11px !important;
  font-family: "Courier New";
  font-weight: normal;
  transition: all 0.1s ease-in-out;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
}

label.joint-label:hover {
  padding: 0.15em;
  background-color: rgba(255, 255, 120, 0.5);
}

label.joint-label-selected {
  padding: 0.15em;
  color: #0036C9;
  background-color: rgba(255, 255, 120, 1.0);
  font-size: 11px !important;
  font-family: "Courier New";
  font-weight: normal;
  transition: all 0.1s ease-in-out;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
}
