* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 11px;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  overflow: hidden;
  width: 100%;
  height: 100%;
  min-width: 40em;
}

body {
  padding: 5px;
  background: rgb(99,134,204);
  background: -moz-linear-gradient(top,  rgba(99,134,204,1) 0%, rgba(183,210,229,1) 100%);
  background: -webkit-linear-gradient(top,  rgba(99,134,204,1) 0%,rgba(183,210,229,1) 100%);
  background: linear-gradient(to bottom,  rgba(99,134,204,1) 0%,rgba(183,210,229,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6386cc', endColorstr='#b7d2e5',GradientType=0 );
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-high-contrast-adjust: none;
}

input, label {
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  outline: none;
  position: relative;
  display: inline;
  vertical-align: middle !important;
  margin: 0 auto;
  cursor: pointer;
  padding: 0;
  font-size: 100% !important;
}

input[type=checkbox], input[type=radio] {
  padding: 0 !important;
  *width: 13px;
  *height: 13px;
  margin: 3.5px 0 !important;
}

input[type=checkbox] {
  box-shadow: 1px 1px 1px rgba(80, 80, 80, 0.2);
  -webkit-box-shadow: 1px 1px 1px rgba(80, 80, 80, 0.2);
  -moz-box-shadow: 1px 1px 1px rgba(80, 80, 80, 0.2);
}

input[type=checkbox]:focus {
  box-shadow: 0 0 8px rgba(0, 80, 255, 0.35);
  -webkit-box-shadow: 0 0 8px rgba(0, 80, 255, 0.35);
  -moz-box-shadow: 0 0 8px rgba(0, 80, 255, 0.35);
}

fieldset {
  position: relative;
  text-indent: 0 !important;
  text-align: left;
  margin: 0 !important;
  margin-bottom: 0.5em !important;
  padding: 0 1em 1em;
  border-color: rgba(0, 0, 0, 0.2);
  border-image: none;
  border-radius: 5px !important;
  border-style: solid;
  border-width: 1px;
}

fieldset legend {
  display: inline;
  padding: 0;
  margin: 0.25em 0;
  font-weight: bold;
  white-space: normal;
}

.left {
  float: left;
}

.right {
  float: right;
}

.clear {
  clear: both;
}

.center {
  text-align: center;
}

.center2 {
  margin: 0 auto;
}

.button {
  outline: none;
  padding: 0.5em 1.0em;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 11px;
  transition: all 0.25s ease-in-out;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  cursor: pointer;
  background: rgba(78, 191, 75, 1.0);
  color: #FDFDFD;
  border: 1px solid rgba(78, 191, 75, 0.4);
  border-radius: 5px;
  box-shadow: 1px 1px 4px rgba(80, 80, 80, 0.15);
  -webkit-box-shadow: 1px 1px 4px rgba(80, 80, 80, 0.15);
  -moz-box-shadow: 1px 1px 4px rgba(80, 80, 80, 0.15);
}

.button:hover {
  outline: none;
  background: rgba(76, 201, 73, 1.0);
  color: #FFF;
  border: 1px solid rgba(76, 201, 73, 0.4);
}

.button:active {
  outline: none;
  background: rgba(85, 196, 82, 1.0);
  color: #FFF;
  border: 1px solid rgba(85, 196, 82, 0.4);
}

table {
  table-layout: fixed;
}

.custom-text {
  background-color: #FEFEFE;
  color: #0A0A0A;
  font-size: 11px !important;
  cursor: auto;
  padding: 0.25em 0em;
  text-indent: 0.5em;
  outline: none;
  transition: all 0.25s ease-in-out;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  vertical-align: top;
  border: 1px solid rgba(80, 80, 80, 0.30) !important;
  box-shadow: 1px 1px 4px rgba(80, 80, 80, 0.15);
  -webkit-box-shadow: 1px 1px 4px rgba(80, 80, 80, 0.15);
  -moz-box-shadow: 1px 1px 4px rgba(80, 80, 80, 0.15);
}

.custom-text:focus {
  border: 1px solid rgba(0, 80, 255, 0.50) !important;
  box-shadow: 0 0 12px rgba(0, 100, 255, 0.25);
  -webkit-box-shadow: 0 0 12px rgba(0, 100, 255, 0.25);
  -moz-box-shadow: 0 0 12px rgba(0, 100, 255, 0.25);
}

.text-input {
  width: 100%;
  font-size: 10px !important;
}

.fixnum-input {
  width: 100%;
  font-size: 10px !important;
}

.numeric-input {
  width: 100%;
  font-size: 10px !important;
}

.controller-input {
  width: 100%;
  font-size: 11px !important;
}

.command-input {
  background-color: #2E2E2E;
  color: #CFCFCF;
  width: 100%;
  font-size: 11px !important;
}

.labeled-text {
  border: none;
  background: none;
  font-size: 11px !important;
  color: #FA8000;
  cursor: auto;
  outline: none;
  width: 6em;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-high-contrast-adjust: none;
}

.main-wrap {
  /* overflow to handle inner floating block */
  overflow: hidden;
}

.credit {
  clear: both;
  text-align: right;
  padding-right: 1em;
  position: relative;
  color: gray;
  font-size: 9px !important;
}

.link {
  color: #0B1AE6;
  font-weight: normal;
  font-size: 10px !important;
  text-decoration: none;
}

.link:hover {
  text-decoration: underline;
}

#status-bar {
  position: relative;
  color: gray;
  padding: 0.5em 1em 0em 1em;
}

.ace_status-indicator {
  float: right;
}

.ace_editor {
  position: relative !important;
  border: 1px solid lightgray !important;
  width: auto;
  height: auto;
}

.ace_editor.fullscreen {
  position: fixed !important;
  border: 0 !important;
  width: auto !important;
  height: auto !important;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10;
}

.fullscreen {
  overflow: hidden;
}

.vertical_spacing {
  clear: both;
  height: 0.5em;
}

.vertical_spacing2 {
  clear: both;
  height: 0.25em;
}

.horizontal_spacing {
  width: 0.5em;
}

.sound-list {
  background-color: #2E2E2E;
  color: #CFCFCF;
  border-radius: 3px;
  border: none;
  margin: auto 0 0.1em 0;
  padding: 0.25em;
  width: 100%;
}

.description {
  font-size: 11px !important;
  color: #2F2F2F;
  font-weight: normal;
}

.style1 {
  color: #000DFF;
  font-weight: normal;
}

.style2 {
  color: #00CF00;
  font-weight: normal;
}

.style3 {
  color: #F02B2B;
  font-weight: normal;
}

.style4 {
  color: #2F2F2F;
  font-weight: normal;
}

.style5 {
  color: #606060;
  font-weight: bold;
}

.style6 {
  color: #FFB01F;
  font-weight: normal;
}

.style7 {
  color: #3823C2;
  font-weight: bold;
}

.style8 {
  color: #FF0000;
  font-weight: normal;
}

.description tt {
  color: #170E80;
}

.title {
  color: #7F7F7F;
  font-weight: normal;
  font-size: 16px !important;
}

.heading {
  color: #0AAA0A;
  font-weight: bold;
}

table.opts_table {
  border: none;
  padding: 0em 0em 0.5em 0em;
}

table.opts_table tr td {
  border: none;
  vertical-align: middle;
}

table.opts_table tr {
  padding: 0em;
  margin: 0em;
}

table.opts_table td {
  padding: 0em 0.1em;
}

table.struct_table {
  width: 100%;
  border: none;
  padding: 0em;
  margin: 0em;
}

table.struct_table tr td {
  border: none;
  padding: 0em;
  margin: 0em;
  vertical-align: top;
}

table.struct_table input[type=checkbox] {
  float: right;
}

.spacing_tab {
  padding-left: 1em;
}

label.joint-label {
  padding: 0.15em;
  color: #0036C9;
  background-color: none;
  font-size: 11px !important;
  font-family: "Courier New";
  font-weight: normal;
  transition: all 0.1s ease-in-out;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
}

label.joint-label:hover {
  padding: 0.15em;
  background-color: rgba(255, 255, 120, 0.5);
}

label.joint-label-selected {
  padding: 0.15em;
  color: #0036C9;
  background-color: rgba(255, 255, 120, 1.0);
  font-size: 11px !important;
  font-family: "Courier New";
  font-weight: normal;
  transition: all 0.1s ease-in-out;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
}

.help_box {
  resize: none;
  outline: none;
  width: 100%;
  height: 80px;
  overflow: auto;
  font-family: "Calibri";
  font-weight: normal;
  font-size: 13px !important;
  background: #F8F8F8;
  color: #0A0A0A;
  padding: 5px;
  margin-top: 5px;
  transition: all 0.25s ease-in-out;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  vertical-align: top;
  border: 1px solid #9F9F9F; !important;
  box-shadow: 1px 1px 4px rgba(80, 80, 80, 0.15);
  -webkit-box-shadow: 1px 1px 4px rgba(80, 80, 80, 0.15);
  -moz-box-shadow: 1px 1px 4px rgba(80, 80, 80, 0.15);
}

.help_box:focus {
  border: 1px solid rgba(0, 80, 255, 0.50) !important;
  box-shadow: 0 0 12px rgba(0, 100, 255, 0.25);
  -webkit-box-shadow: 0 0 12px rgba(0, 100, 255, 0.25);
  -moz-box-shadow: 0 0 12px rgba(0, 100, 255, 0.25);
}
