.expander.expanded  {
  padding-left: 1.2em;
  background-position: left center;
  background-repeat: no-repeat;
  background-image: url('../images/expanded.png');
}

.expander.collapsed {
  padding-left: 1.2em;
  background-position: left center;
  background-repeat: no-repeat;
  background-image: url('../images/collapsed.png');
}
